.background {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.editModalContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: 30%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px;
  overflow-y: auto;
  z-index: 4;
  transition: 0.15s ease-in;
  font-family: "Poppins";
}

.editModalTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editModalContainer .header {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.editModalContainer .subHeader {
  font-size: 18px;
  margin: 0;
  color: gray;
  font-family: "Poppins"
}

.fieldListContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 100px 100px 100px 100px;
  /* border: 1px solid red; */
}

.fieldContainer {
  margin: 10px;
}

.noteContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.noteField {
  width: 100%;
  max-height: 150px;
  overflow: auto;
}

.noteField::-webkit-scrollbar {
  width: 6px;
}

.noteField::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

.noteField::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.updateButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: auto;
  justify-self: flex-end;
  padding: 30px 10px 20px;
  column-gap: 10px;
}

.exitButton {
  top: 0;
  left: 0;
  cursor: pointer;
}
