.body {
  background: linear-gradient(to left, #fd8033, #fb3552);
  width: 100vw;
  height: 100vh;
}

.errorContainer {
  position: absolute;
  right: 0;
  background-color: white;
  width: 12rem;
  height: 4rem;
  margin-top: 9rem;
  margin-right: 1rem;
  padding: 0.2rem 0.5rem;
}

.errorFirst {
  display: flex;
  flex-direction: row;
  height: 1rem;
}

.errorTextContainer {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-size: 1px;
  padding-left: 0.5rem;
}

.errorHead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1px;
  color: red;
  font-weight: bold;
}

.errorClose {
  color: red;
  margin: 0;
  line-height: 1rem;
  cursor: pointer;
}

.sendHead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1px;
  color: #388e3c;
  font-weight: bold;
}

.sendClose {
  color: #388e3c;
  margin: 0;
  line-height: 1rem;
  cursor: pointer;
}
.bodyContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.baseContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-left: 10rem;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3.5rem;
  margin: 0%;
  height: 5rem;
  color: white;
}

.introduction {
  color: white;
  margin-top: 0px;
}

.inputCountainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  margin-bottom: 1rem;
}

.inputBar {
  width: 25rem;
  height: 2rem;
}

.textStyle {
  color: white;
}

.submission {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
}

.forgot {
  color: white;
  height: 1.5rem;
  margin-right: 14.5rem;
  cursor: pointer;
}

.button {
  padding: 0.5rem 1.5rem;
  background-color: #2d285c;
  border-radius: 3px;
  border-style: none;
  color: white;
  height: 2.3rem;
  cursor: pointer;
}
