.MemberProfile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  row-gap: 3vh;
}

.MemberProfileOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 30%;
  z-index: 1;
}

.MemberProfileAdminButton {
  position: absolute;
  top: 2%;
  left: 1%;
  padding: 7px 8px;
  background-color: #2d285c;
  color: white;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 14px;
  cursor: pointer;
}

.MemberProfileLogout {
  position: absolute;
  top: 2%;
  right: 1%;
  color: #2d285c;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.MemberProfileHeader {
  margin: 2% 15% 0% 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.MemberProfileImageContainer {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  cursor: pointer;
}

.MemberProfileImage {
  pointer-events: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.MemberProfileImageOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 50%;
  opacity: 0%;
}

.MemberProfilePencilBackground {
  position: absolute;
  display: flex;
  width: 27px;
  height: 27px;
  top: 5px;
  right: 5px;
  background-color: black;
  border-radius: 50%;
  opacity: 0%;
  justify-content: center;
  align-items: center;
}

.MemberProfileImageContainer:hover .MemberProfileImageOverlay {
  transition: 0.3s ease;
  opacity: 30%;
}

.MemberProfileImageContainer:hover .MemberProfilePencilBackground {
  transition: 0.3s ease;
  opacity: 100%;
}

.MemberProfilePencil {
  width: 18px;
  height: 18px;
}

.MemberProfileName {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins";
  color: #333333;
  margin-left: 2%;
}

.MemberProfileFields {
  margin-left: 12.5%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  row-gap: 2vh;
}

.MemberProfileRadioSave {
  width: 100%;
  display: flex;
  column-gap: 2%;
}

.MemberProfileSave {
  margin-right: 16.5%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.MemberProfileSaveButton {
  width: 135px;
  height: 50px;
  background: #2d285c;
  border: 1px solid #2d285c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  font-size: 24px;
  color: #ffffff;
  transition: 0.3s ease;
}

.MemberProfileFooter {
  flex-grow: 1;
  background: linear-gradient(74.59deg, #fd8033 0%, #fb3552 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5% 0% 2% 0%;
}

.MemberProfileFooterPageContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}

.MemberProfileFooterPage {
  display: flex;
  width: 144px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.MemberProfileFooterBottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 7%;
}
