.FooterElement {
  width: 14%;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.FooterElementTitle {
  font-size: 24px;
}

.FooterElementInput {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: gray;
}

.FooterElementValue {
  font-size: 20px;
}