.RadioField {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 70%;
}

.RadioFieldHeader {
  font-size: 24px;
  font-weight: 500;
}

.RadioFieldGroup {
  display: flex;
  column-gap: 4%;
  font-size: 20px;
}
