.RadioField {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 46%;
}

.RadioFieldHeader {
  font-size: 24px;
}

.RadioFieldGroup {
  display: flex;
  column-gap: 10%;
  font-size: 20px;
}