.body {
  background: linear-gradient(74.59deg, #fd8033 0%, #fb3552 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  font-weight: 500;
}

#mainHeading {
  text-align: center;
  padding-bottom: 1rem;
}

.inputCountainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0rem;
  row-gap: 0.2rem;
}

.inputBar {
  width: 25rem;
  height: 2rem;
  font-family: "Poppins";
  border-radius: 4px;
  border: none;
  padding: 0.75rem;
}

.inputHeading {
  color: white;
}

.buttonGroup {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  cursor: pointer;
  font-size: 18px;
}

.saveButton {
  width: max-content;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 5px;
  background-color: #2d285c;
}

.invalidBody {
  row-gap: 1rem;
  text-align: center;
  flex-direction: column;
}

.subHeading {
  font-size: 24px;
  margin-bottom: 1rem;
  max-width: 75%;
}

.button {
  cursor: pointer;
  font-size: 20px;
  padding: 7px 16px;
  border-radius: 5px;
  background-color: #2d285c;
}

.messageContainer {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  margin-top: 3rem;
  margin-right: 2rem;
  padding: 0.3rem 0.5rem;
  column-gap: 0.5rem;
}

.messageTextContainer {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.7rem;
  line-height: 1rem;
  width: 11rem;
}

.messageHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0.5rem;
}

.messageBody {
  font-family: "Poppins";
  font-size: 0.75rem;
  color: black;
  margin: 0.5rem 0;
}

.messageClose {
  color: red;
  cursor: pointer;
  margin: 0;
}
