.FooterElement {
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.FooterElementTitle {
  font-size: 24px;
}

.FooterElementValue {
  font-size: 20px;
}